<div class="wrapper wrapper-content animated fadeIn" ng-init="initScoreField()">
    <div class="score-main">
        <div class="score-inner-main">
            <div class="score-engine-main pull-left">
                <div class="score-engine">
                    <h3>Score Engine Data Item Definition</h3>
                </div>
            </div>
            <div class="select-country-main pull-right">
                <div class="select-contry">
                    <h3>Select Partner</h3>
                    <form class="form-adj">
                        <div class="form-group no-marg">
                            <select class="form-control no-padd" ng-model="pageData.partner"
                                    ng-options="partner.partnerName for partner in pageData.partnerList">
                            </select>
                        </div>
                    </form>
                    <h3>Select Contry</h3>
                    <form class="form-adj">
                        <div class="form-group no-marg">
                            <select id="inputState" class="form-control">
                                <option selected>India</option>
                                <option>Singapore</option>
                            </select>
                        </div>
                    </form>
                    <div class="plus-btn">
                        <button class="new-btn" type="button" ng-click="addScoreField()"><i
                                class="fa fa-plus-circle fa-3x clr-change"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="score-category">
            <form class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Score Category</th>
                        <th>Field Name<span style="color:red">*</span></th>
                        <th>Description</th>
                        <th>JSON Paramerer</th>
                        <th>Apply Score?</th>
                        <th>Max Score</th>
                        <th>For</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="scoreField in pageData.scoreFieldList">
                            <td width="15%">
                                <select class="form-control no-padd" ng-model="scoreField.category.value" ng-disabled="scoreField.category.readOnly">
                                    <option value="">-- Choose Category --</option>
                                    <option ng-repeat="category in pageData.categoryList">{{category}}</option>
                                </select>
                            </td>
                            <td width="15%">
                                <input class="form-control" type="text" placeholder="" ng-model="scoreField.fieldName.value" ng-disabled="scoreField.fieldName.readOnly">
                            </td>
                            <td width="15%">
                                <input class="form-control" type="text" placeholder="" ng-model="scoreField.fieldDesc.value" ng-disabled="scoreField.fieldDesc.readOnly">
                            </td>
                            <td width="10%">
                                <input class="form-control" type="text" placeholder="" ng-model="scoreField.jsonParam.value" ng-disabled="scoreField.jsonParam.readOnly">
                            </td>
                            <td width="5%">
                                <input class="form-check-input width" type="checkbox" ng-model="scoreField.applyScore.value" ng-disabled="scoreField.applyScore.readOnly" id="defaultCheck1">
                            </td>
                            <td width="5%">
                                <input class="form-control" type="text" placeholder="" ng-model="scoreField.maxScore.value" ng-disabled="scoreField.maxScore.readOnly">
                            </td>
                            <td width="15%">
                                <select class="form-control no-padd" ng-model="scoreField.borrowerType.value" ng-disabled="scoreField.borrowerType.readOnly">
                                    <option value="">-- Borrower Type --</option>
                                    <option ng-repeat="borrowerType in pageData.borrowerTypeList">{{borrowerType}}</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary bg-clr" ng-if="!scoreField.scoreId" ng-click="saveScoreField($index )">Save</button>
                                <button type="button" class="btn btn-primary bg-clr" ng-if="scoreField.scoreId && (scoreField|checkEditMode)" ng-click="editScoreField($index )">Edit</button>
                                <button type="button" class="btn btn-primary bg-clr" ng-if="scoreField.scoreId && !(scoreField|checkEditMode)" ng-click="updateScoreField($index )">update</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary bg-clr" ng-if="scoreField.scoreId" ng-click="deleteScoreField($index)">Delete</button>
                            </td>
                            <td>
                                <button ng-if="scoreField.scoreId" type="button" class="btn btn-primary bg-clr" role="button" aria-expanded="false"
                                        aria-controls="collapseExample">Rules
                                </button>
                            </td>

                            <!--<td colspan="9">
                                <div class="modal-table" id="collapseExample">
                                    &lt;!&ndash;<form class="table-responsive bg">&ndash;&gt;
                                    <table class="table new-bg-clr">
                                        <thead>
                                        <tr>
                                            <th>Rule Function</th>
                                            <th width="20%">Valid Data Value/Range</th>
                                            <th width="15%">Weightage</th>
                                            <th>Ignore Text Case</th>
                                            <th>Remove Spl Char & Spaces</th>
                                            <th>
                                    <span id="fileselector">
                                        <label class="btn btn-default up-bg-clr" for="upload-file-selector">
                                            <input id="upload-file-selector" type="file">
                                            <i class="fa_icon icon-upload-alt margin-correction"></i>Upload CSV File
                                        </label>
                                    </span>
                                                &lt;!&ndash; <button type="button" class="btn btn-primary up-bg-clr">Upload CSV File</button> &ndash;&gt;
                                            </th>
                                            &lt;!&ndash; <th></th> &ndash;&gt;
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <select id="inputState" class="form-control no-padd">
                                                    <option selected>Exact Match</option>
                                                    <option>Contains</option>
                                                    <option>In-list</option>
                                                    <option>In-Between (Inclusive)</option>
                                                    <option>In-Between (Exclusive)</option>
                                                    <option>Pattern Match</option>
                                                    <option>Less Than</option>
                                                    <option>Less Than Equal To</option>
                                                    <option>Greater Than</option>
                                                    <option>Greater Than Equal To</option>
                                                </select>
                                            </td>
                                            <td class="icon-field">
                                                <input class="form-control" type="text" placeholder="">
                                                <i class="fa fa-pencil-square edit-icon"></i>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="">
                                            </td>
                                            <td>
                                                <input class="form-check-input width" type="checkbox" value=""
                                                       id="defaultCheck1">
                                            </td>
                                            <td>
                                                <input class="form-check-input width" type="checkbox" value=""
                                                       id="defaultCheck1">
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary bg-clr">Edit</button>
                                                <button type="button" class="btn btn-primary bg-clr">Delete</button>
                                            </td>
                                        </tbody>
                                    </table>
                                    &lt;!&ndash;</form>&ndash;&gt;
                                </div>
                            </td>-->

                        </tr>


                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
